<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/memoryGame.css">
    <link rel="icon" href="../storage/img/compu.gif">
    <title>Jupoca | Memory-Game</title>
</head>
<body>
    <div class="playNow" id="l">
        <a href="./memoryGame.html">
            <button class="button" id="boton">
                    Jugar de nuevo
            </button>
        </a>
    </div>
    <div class="playNow" id="p">
        <a href="../index.html">
            <button class="button" id="boton">
                    Volver al inicio
            </button>
        </a>
    </div>
   
    <div id="memoryGame" class="memory">
    </div>

</body>
<script src="../js/api.js"></script>
</html>